pall/* Coolors Exported Palette - coolors.co/ffce66-d90368-820268-291720-33c1dd */

/* HSL */
$color1: hsla(41%, 100%, 70%, 1);
$color2: hsla(332%, 97%, 43%, 1);
$color3: hsla(312%, 97%, 26%, 1);
$color4: hsla(330%, 28%, 13%, 1);
$color5: hsla(190%, 71%, 53%, 1);

/* RGB */
$color1: rgba(255, 206, 102, 1);
$color2: rgba(217, 3, 104, 1);
$color3: rgba(130, 2, 104, 1);
$color4: rgba(41, 23, 32, 1);
$color5: rgba(51, 193, 221, 1);
